/*-------------- advant-product -----------------*/
.advant-product{
	&__top{
		color: #fff;
		padding: 75px 0 60px;
		background: $color-orange;
	}

	.header-site{color: #fff;}

	&__desc{
		width: calc(33.33% - 30px);
		margin: 0 15px;

		.icon{fill: #fff;}
	}

	&__text{
		@include font(normal, normal, 2.4rem, 1.13, #fff);
		margin-top: 15px;
	}

	&__img{
		width: calc(66.66% - 30px);
		float: right;
		margin: 15px;
		padding-top: 12px;
		text-align: right;
	}
}

.advant-product-list-wrap{
	margin-top: 20px;
	background: #f1f1f1;
	padding: 50px 0 55px;
}

.advant-product-list{
	display: flex;
	flex-wrap: wrap;


	&:not(:last-child){margin-bottom: 20px;}
}

.advant-product-item{
	display: inline-flex;
	width: calc(33.33% - 30px);
	margin: 15px;

	&_full{width: calc(100% - 30px);}

	&__icon{
		flex-shrink: 0;
		margin-right: 17px;
		padding-top: 3px;

		.icon{fill: $color-purple;}
	}

	&__title{
		@include font(normal, 900, 3.6rem, 1.13, $color-purple);
		margin-bottom: 14px;
	}

	&__text{
		@include font(normal, normal, 2rem, 1.13, $color-purple);
	}
}

@media (max-width: 1279px) {
	
	.advant-product{
		&__img,
		&__desc{
			width: calc(50% - 30px);
		}

		&__text{font-size: 2rem;}
		&__top::after {
			content: "";
			display: block;
			clear: both;
		}
	}

	.advant-product-list{display: block;}

	.advant-product-item{
		width: auto;
		
		&__title{
			font-size: 3rem;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 767px) {
	.advant-product{display: none;}
}