/*-------------- lists -----------------*/
.list-check{
	&,
	& li{
		@include reset-list;
	}

	li{
		margin-bottom: 13px;
		position: relative;
		padding-left: 20px;
	}

	li::before{
		content: '';
		display: inline-block;
		width: 14px;
		height: 18px;
		background: url(../img/bookmark.png) no-repeat center;
		background-size: contain;
		margin-left: -20px;
		margin-right: 7px;
	}
}

.list-square{
	@include font(normal, normal, 3.6rem, 1.13, $color-purple);

	&,
	& li{
		@include reset-list;
	}

	li{
		margin-bottom: 13px;
		position: relative;
		padding-left: 40px;
	}

	li::before{
		content: '';
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url(../img/tick.png) no-repeat center;
		background-size: contain;
		margin-left: -30px;
		margin-right: 10px;
	}
}