/*-------------- projects -----------------*/
.projects{
	background: url(../img/bg-doors.png) no-repeat center bottom;
	padding-bottom: 160px;
	margin: 70px 0 30px;
	position: relative;
	z-index: 1;

	.btn-arr{margin-top: -10px;}
}

.projects-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 30px;

	&__item{
		display: block;
		width: 31.5%;
		border: 15px solid #fff;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
		position: relative;
		z-index: 2;
		transition: transform 0.2s ease 0s;
		cursor: url(../img/zoom-in.png), pointer;
	}

	&__img{
		display: block;
		height: 100%;
		padding-bottom: 65%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__item:nth-child(3n+2){
		width: calc(37% + 120px);
		margin: -30px -60px;
		z-index: 1;
	}
}

@media (max-width: 1279px) {
	.projects{margin-bottom: 0;}
}

@media (min-width: 768px) {
	.projects-list{
		&__item:hover{
			transform: scale(1.05);
			z-index: 3;
		}
	}
}

@media (max-width: 767px) {
	.projects{
		background: #f3f3f3;
		padding-bottom: 1px;
		margin-top: 40px;

		.btn-arr{
			display: block;
			margin-top: 15px;
			margin-bottom: -20px;
		}
	}
	
	.projects-list{
		padding: 0;

		&__item{
			display: none;
			border: 0;
		}

		&__item:nth-child(2){display: block;}

		&__item:nth-child(3n+2){
			width: 100%;
			margin: 0;
		}
	}
}