/*-------------- slick-slider -----------------*/
.btn-slider,
button.btn-slider{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 104px;
	height: 104px;
	background: $color-purple;
	border: 12px solid #fff;
	border-radius: 50%;
	outline: 0;
	font-size: 0;
	padding: 0;
	cursor: pointer;
	box-shadow: inset 0 0 0 3.5em rgba(96, 81, 130, 0);
	transition: box-shadow 0.3s ease;
	position: absolute;
	@include top-center;
	z-index: 10;
	
	.icon{fill: #fff;}

	&_left{left: -52px;}
	&_right{right: -52px;}
}

.btn-slider:hover,
button.btn-slider:hover{
	box-shadow: inset 0 0 0 55px $color-dark-purple;
}

.slick-dots{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&,
	li{
		@include reset-list;
	}

	button{
		display: block;
		width: 16px;
		height: 16px;
		background: $color-purple;
		border: 0;
		border-radius: 50%;
		font-size: 0;
		padding: 0;
		box-shadow:  none;
		transition: background 0.2s ease 0s;
		margin: 5px;
		cursor: pointer;
	}
}

.slick-active button,
.slick-dots button:hover{
	background: $color-orange;
}

@media (max-width: 1279px) {
	.btn-slider,
	button.btn-slider{
		width: 60px;
		height: 60px;
		border-width: 4px;
		
		&_left{left: -25px;}
		&_right{right: -25px;}

		.icon{
			width: 30px;
			height: 26px;
		}
	}
}

@media (max-width: 767px) {
	.btn-slider,
	button.btn-slider{
		width: 40px;
		height: 40px;
		border: 0;
		
		&_left{left: -10px;}
		&_right{right: -10px;}

		.icon{
			width: 20px;
			height: 17px;
		}
	}
}