extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.advant
		.advant__content
			.advant-list.advant-list_right
				.advant-list__item
					.advant-list__text Скидочная гибкость до&nbsp;25%
					.advant-list__img
						img(src="assets/img/sale.png", alt="")

				.advant-list__item
					.advant-list__text Прямое взаимодействие с&nbsp;технологом
					.advant-list__img
						img(src="assets/img/person.png", alt="")

			.advant__main
				.advant__title дизайнерские двери на ваш вкус
				.advant__subtitle создавайте ценность выше стоимости
				.advant__label 1000 нестандартных дверей каждый месяц

			.advant-list
				.advant-list__item
					.advant-list__img
						img(src="assets/img/certificate.png", alt="")
					.advant-list__text Внимательно относимся к качеству

				.advant-list__item
					.advant-list__img
						img(src="assets/img/hourglass.png", alt="")
					.advant-list__text Педантично выдерживаем сроки

	section.projects
		.projects-list
			-
				var list=[
					{img:'project1.jpg'},
					{img:'project2.jpg'},
					{img:'project3.jpg'},
				]
			each item in list
				a(href="assets/img/"+item.img, data-fancybox='projects').projects-list__item
					span.projects-list__img(style="background-image: url(assets/img/"+item.img+")")

		.btn-arr.btn-arr_white
			.btn-arr__content
				a.btn.btn_border.btn_white(href='#') Обсудить ваш проект
				.btn-arr__arr

	section.about
		.st-width
			.header-site
				.header-site__label Технологи фабрики Прованс
				.header-site__title в поисках новых решений

			.about__content.clearfix
				img(src="assets/img/about.jpg", alt="").img-right
				p Технологи фабрики Прованс постоянно находятся в поисках новых решений. Регулярно посещают Итальянские выставки, делятся технологиями и обучаются за рубежом. В настоящий момент ряд Итальянских дизайнерских бюро предпочли заказывать двери на фабрике Прованс, оценив качество производства и сравнительно не большую стоимость.

	section.services
		.st-width
			.header-site
				.header-site__label Узнайте, почему
				.header-site__title дизайнеры любят с нами работать

			.services-list
				-
					var list=[
						{img:'lamp.png', title:'Готовы на эксперименты', text:'Присылаете запрос с требованиями к проекту — уточняем детали. Продумаваем реализацию. В течение суток бесплатно получаете чертеж в пропорциях.'},
						{img:'man.png', title:'Работа напрямю с технологом', text:'Этим гарантируется точность исполнения дизайна.'},
						{img:'msg.png', title:'тактичность в общении с клиентом', text:'В наших магазинах продавцы покажут именно то, что вы просите. Они понимают, что вы уже проделали работу с клиентом и готовы во всем вам помогать.'},
						{img:'design.png', title:'фото и текстуры для прорисовки проектов', text:'Предоставляем 4000+ отрисованных моделей на белом фоне, а также необходимые текстуры для визуализации интерьера.'},
						{img:'handshake.png', title:'поддержка и забота', text:'Мы с вами не только в радости, но и в редких случаях форс-мажора. Делаем так, чтобы клиент не почувствовал дискомфорт. Участвуем в решении проблем.'},
						{img:'money.png', title:'гарантия вознаграждения и защита проекта', text:'Заключаем договор с четко прописанной премиальной системой. Наличие СРМ программы позволяет отслеживать заказы по магазинам.'},
						{img:'cup.png', title:'удобная локация наших магазинов', text:'Понятное место встречи, где за один визит можно подобрать ассортимент для всего интерьера, а также есть зона для работы с клиентом в отдельно стоящем магазине.'},
						{img:'brochure.png', title:'Персональный подход', text:'Наш менеджер может приехать к вам и показать все наши образцы. Вы сможете посмотреть, как тот или иной цвет будет выглядеть с вашим освещением и как он будет сочетаться с вашей мебелью, полом и стенами.'},
						{img:'timer.png', title:'педантично выдерживаем сроки поставки', text:'Ваша репутация не пострадает. Вы и ваш клиент будете спокойны.'},
					]
				each item in list
					.services-list__item
						.services-list__icon
							img(src="assets/img/"+item.img, alt="")

						.services-list__title= item.title
						.services-list__text= item.text

			.btn-arr
				.btn-arr__content
					a.btn.btn_border(href='#') условия сотрудничества
					.btn-arr__arr
				.btn-arr__label По настоящему персональный менеджер


	section.gallery
		.st-width
			.header-site
				.header-site__label Галлерея наших и ваших работ
				.header-site__title От вашей идеи до ее воплощения — один&nbsp;шаг

		.gallery-slider.js-gallery-slider
			.gallery-slider__item
				a(href="door1.jpg", data-fancybox='doors', style="background-image: url(assets/img/door1.jpg)").gallery-slider__link
			
			.gallery-slider__item.gallery-slider__item_half
				a(href="door2.jpg", data-fancybox='doors', style="background-image: url(assets/img/door2.jpg)").gallery-slider__link
				a(href="door3.jpg", data-fancybox='doors', style="background-image: url(assets/img/door3.jpg)").gallery-slider__link

			.gallery-slider__item
				a(href="door4.jpg", data-fancybox='doors', style="background-image: url(assets/img/door4.jpg)").gallery-slider__link

			.gallery-slider__item.gallery-slider__item_half
				a(href="door5.jpg", data-fancybox='doors', style="background-image: url(assets/img/door5.jpg)").gallery-slider__link
				a(href="door6.jpg", data-fancybox='doors', style="background-image: url(assets/img/door6.jpg)").gallery-slider__link

			.gallery-slider__item
				a(href="door7.jpg", data-fancybox='doors', style="background-image: url(assets/img/door7.jpg)").gallery-slider__link
				
			.gallery-slider__item
				a(href="door1.jpg", data-fancybox='doors', style="background-image: url(assets/img/door1.jpg)").gallery-slider__link
			
			.gallery-slider__item.gallery-slider__item_half
				a(href="door2.jpg", data-fancybox='doors', style="background-image: url(assets/img/door2.jpg)").gallery-slider__link
				a(href="door3.jpg", data-fancybox='doors', style="background-image: url(assets/img/door3.jpg)").gallery-slider__link

			.gallery-slider__item
				a(href="door4.jpg", data-fancybox='doors', style="background-image: url(assets/img/door4.jpg)").gallery-slider__link

			.gallery-slider__item.gallery-slider__item_half
				a(href="door5.jpg", data-fancybox='doors', style="background-image: url(assets/img/door5.jpg)").gallery-slider__link
				a(href="door6.jpg", data-fancybox='doors', style="background-image: url(assets/img/door6.jpg)").gallery-slider__link


		.gallery-slider-dots.js-gallery-slider-dots

		.st-width
			.gallery__text
				p Многие модели создаются с вашей подачи. Это увлекательный процесс. Сначала вы присылаете свои идеи. Затем наши конструкторы думают, как это можно воплотить в жизнь.

				p Так появляются красивые и интересные двери.

			.btn-arr
				.btn-arr__content
					a.btn.btn_border(href='#') Обсудить ваши идеи
					.btn-arr__arr
				.btn-arr__label Создайте свой неповторимый стиль помещения

	section.reviews
		.st-width
			.header-site
				.header-site__label посмотрите
				.header-site__title отзывы ваших коллег

			.reviews-list
				a(data-fancybox='', href='https://www.youtube.com/watch?v=dl16e_mG6hg&t=1s').reviews-list__item
					img(src="assets/img/review1.png", alt="")

				a(data-fancybox='', href='https://www.youtube.com/watch?v=JC6KnTvB50Y').reviews-list__item
					img(src="assets/img/review2.png", alt="")

			.guarantee
				.guarantee__top
					.guarantee__sticker.guarantee__sticker_left Добиваемся идеально ровной поверхности

					.guarantee__header
						.guarantee__label 36 месяцев гарантии с момента покупки
						.guarantee__title наша формула качества

					.guarantee__sticker.guarantee__sticker_right Не допускаем бугорков, неровностей, шероховатостей

				.guarantee__content
					.guarantee__item
						.guarantee__icon
							+svg('ic-tick','ic-tick', '44', '44')
						.guarantee__text Строгий регламент производства

					.guarantee__item
						.guarantee__icon
							+svg('ic-tick','ic-tick', '44', '44')
						.guarantee__text Многоэтапный контроль

					.guarantee__item
						.guarantee__icon
							+svg('ic-tick','ic-tick', '44', '44')
						.guarantee__text Материалы премиум качества

	section.works
		.st-width
			.header-site
				.header-site__title Работаем так, чтобы вас рекомендовали
				.header-site__note Делаем качественные двери, чтобы каждый ваш клиент был доволен результатом и рекомендовал вас своим знакомым

			a(data-fancybox='', href='https://www.youtube.com/watch?v=SfW-Ll4xtX4').works__video
				img(src="assets/img/laptop.png", alt="")

			.works__label В производстве используем инструменты европейского качества. Фрезеровки на наших полотнах получаются идеально гладкими и ровными. Убедитесь сами

	section.process
		.st-width
			.header-site
				.header-site__title Строго выдерживаем технологический процесс покраски дверей

			.process-list
				-
					var list=[
						{title:'1 этап', img:'process1.jpg', text:'Полотно проходит через шлифовальное оборудование, а углы сглаживаются специальным станком'},
						{title:'2 этап', img:'process2.jpg', text:'Полотно покрывается первым слоем грунта, после чего шлифуется и передается в «ОТК 1» —отдел технического контроля'},
						{title:'3 этап', img:'process3.jpg', text:'Дверь покрывается вторым слоем грунта, шлифуется и после контроля качества получает печать «ОТК-2»'},
						{title:'4 этап', img:'process4.jpg', text:'Дверь покрывается эмалью в плотно закрытом помещении. Строгий контроль за тем, чтобы в малярной камере в воздухе не летало пыли и мелкого мусора'},
					]
				each item in list
					.process-list__item
						.process-list__title= item.title
						.process-list__img
							img(src="assets/img/"+item.img, alt="")
						.process-list__text= item.text

			.process-res
				.process-res__head
					.process-res__title Результат — 
					.process-res__subtitle гладкая дверь без шероховатостей или неровностей
					
				.process-res__list
					.process-res__item
						img(src="assets/img/process-res1.jpg", alt="")
					.process-res__item
						img(src="assets/img/process-res2.jpg", alt="")
