//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Franklin Gothic', Arial, sans-serif;
$font-sans: 'Open Sans', Arial, sans-serif;

// Site
$color-text: #646464;
$color-purple: #605182;
$color-dark-purple: #493085;
$color-orange: #ff540b;
$color-dark-orange: #e94600;
