html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.13, $color-text);
	box-sizing:border-box;
}

body{font-size: 2.4rem;}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-purple;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 2.6rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.2;
	color: $color-purple;
}

h1,.h1{
	font-size: 5.5rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

h2,.h2{
	font-size: 5rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

h3,.h3{
	font-size: 4rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

h4,.h4{
	font-size: 3.6rem;
	margin-bottom: 1rem;
}

h5,.h5{
	font-size: 2.8rem;
	margin-bottom: 1rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	background: url(../img/bg-top.jpg) no-repeat top center;
	overflow: hidden;
}

main{
	flex: 1 1 auto;
	width: 100%;
}

.st-width{
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 7.2rem;
	background: $color-orange;
	border: 3px solid $color-orange;
	border-radius: 3.6rem;
	@include font(normal, 900, 3.2rem, 1, #fff);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 50px;
	cursor: pointer;
	transition: box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;

	.icon{fill: #fff;}
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	box-shadow: inset 0 0 0 3.5em #fff;
	color: $color-orange;
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	background: linear-gradient(180deg, rgba(52, 29, 106, 0.2) 0%, rgba(234, 234, 234, 0) 61.11%), #FFFFFF;
	border: 3px solid $color-purple;
	color: $color-purple;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.btn_border:hover,
input[type="submit"].btn_border:hover,
button.btn_border:hover{
	box-shadow: inset 0 0 0 3.5em $color-purple;
	color: #fff;
}

.btn_small,
input[type="submit"].btn_small,
button.btn_small{
	height: 4.6rem;
	border-width: 2px;
	border-radius: 2.3rem;
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: none;
	padding: 0 30px;
}

@keyframes btn-arrow-left {
	from {right: calc(100% + 70px);}
	50% {right: calc(100% + 30px);}
	to {right: calc(100% + 70px);}
}

@keyframes btn-arrow-right {
	from {left: calc(100% + 70px);}
	50% {left: calc(100% + 30px);}
	to {left: calc(100% + 70px);}
}

.btn-arr{
	text-align: center;
	padding-top: 100px;

	&__content{
		display: inline-block;
		vertical-align: top;
	}

	&__arr{position: relative;}

	&__arr::before,
	&__arr::after{
		content: '';
		display: inline-block;
		width: 196px;
		height: 134px;
		position: absolute;
		bottom: 15px;
	}

	&__arr::before{
		background: url(../img/btn-arrow-left.png) no-repeat center;
		background-size: contain;
		right: calc(100% + 30px);
		animation: btn-arrow-left 1s infinite ease-in-out;
	}

	&__arr::after{
		background: url(../img/btn-arrow-right.png) no-repeat center;
		background-size: contain;
		left: calc(100% + 30px);
		animation: btn-arrow-right 1s infinite ease-in-out;
	}

	.btn:hover + &__arr::before,
	.btn:hover + &__arr::after{
		display: none;
	}

	&__label{
		@include font(normal, normal, 2.2rem, 1.2, $color-purple);
		margin-top: 10px;
	}

	&_white &__arr::before{background-image: url(../img/btn-arrow-left-w.png);}
	&_white &__arr::after{background-image: url(../img/btn-arrow-right-w.png);}
	&_white &__label{color: #fff;}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.img-right{
	float: right;
	margin: 0 0 30px 30px;
}

.header-site{
	@include font(normal, 900, 5rem, 1.16, $color-purple);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5.5rem;

	&__label{
		font-size: 4rem;
		font-weight: normal;
	}

	&__note{
		font-size: 4rem;
		font-weight: normal;
		text-transform: none;
		margin-top: 5px;
	}
}

@media (max-width: 1279px) {
	body{font-size: 2rem;}
	.st-width{width: 760px;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 6rem;
		border-radius: 3rem;
		padding: 0 20px;
		font-size: 2.4rem;
	}

	.btn_small,
	input[type="submit"].btn_small,
	button.btn_small{
		height: 3.4rem;
		border-radius: 1.7rem;
		font-size: 1.4rem;
	}

	.btn-arr{
		padding-top: 70px;

		&__arr::after,
		&__arr::before{
			width: 120px;
			height: 82px;
		}

		&__label{font-size: 1.8rem;}
	}

	.header-site{
		font-size: 4rem;
		&__label{font-size: 3rem;}
		&__note{font-size: 2rem;}
		&__title + &__label{margin-top: 5px;}
	}

	h1,.h1{font-size: 4.5rem;}
	h2,.h2{font-size: 4rem;}
	h3,.h3{font-size: 3rem;}
	h4,.h4{font-size: 2.6rem;}
	h5,.h5{font-size: 2rem;}
}

@media (max-width: 767px) {
	body{font-size: 1.6rem;}
	.st-width{width: 100%;}
	.wrapper{background: #fff;}

	.header-site{
		font-size: 2.4rem;
		margin-bottom: 3.5rem;
		&__label{font-size: 1.8rem;}
		&__note{font-size: 1.6rem;}
	}

	h1,.h1{font-size: 3.4rem;}
	h2,.h2{font-size: 3rem;}
	h3,.h3{font-size: 2rem;}
	h4,.h4{font-size: 1.8rem;}
	h5,.h5{font-size: 1.6rem;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 4rem;
		border-radius: 2rem;
		font-size: 1.4rem;
		padding: 0 30px;
	}

	.btn-arr{
		padding-top: 0;
		margin-top: 20px;
		&__arr{display: none;}

		&__label{
			font-size: 1.3rem;
			margin-top: 5px;
		}
	}
}