footer.footer
	.st-width
		.footer__content
			.footer__logo
				img(src="assets/img/logo.png", alt="")

			.footer__contacts
				.footer__mail
					a(href="mailto:design@dveri-provance.ru") design@dveri-provance.ru
				.footer__tel
					a(href="tel:+74998775820") +7 (499) 877-58-20

			.msg.msg_white
				a(href="#").msg__item
					+svg('ic-whatchapp','ic-whatchapp', '34', '34')

				a(href="#").msg__item
					+svg('ic-instagramm','ic-instagramm', '32', '32')

				a(href="#").msg__item
					+svg('ic-telegram','ic-telegram', '37', '33')

				a(href="#").msg__item
					+svg('ic-solid','ic-solid', '34', '34')

			.footer__info-wrap
				.footer__title ООО «ДВЕРИ ПРОВАНС»
				
				.footer__info
					|ИНН/КПП 7713790851/771301001
					br
					|ОГРН 1147746739414
					br
					|Юр. адрес:
					
					.footer__address
						|г. Москва, Бескудниковкий бульвар, д.13/10
						br
						|Политика конфиденциальности